<!doctype html>
<html lang="en" ng-app="HackListApp">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{H}PlayList</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/mycss.css">
    <!-- endbuild -->
    
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <div class="container-fluid">
      <div ng-controller="HackListController">
        <div class="row">
          <div class="col-sm-6">
            <div class="box">            
              <div class="text-left" id="billHeader"> 
                  
              <div class="Info">
              <strong>Name:</strong>
              <input type="text" ng-model="playList_name" placeholder="Name">
              </div>
                  
              <div class="Info">
              <strong>Category:</strong>
              <input type="text" ng-model="playList_category" placeholder="Category">
              </div>  


            </div>
              <div class="playListTable">
                <table class="table table-striped table-bordered">
                  <tr>
                    <th>Name</th>
                    <th>Genre</th>
                    <th>Artist</th>
                    <th>Delete</th>
                  </tr>
                  <tr ng-repeat="play in playList">
                    <td>{{play.name}}</td>
                    <td>{{play.genre}}</td>               
                    <td>{{play.artist}}</td>
                    <td><button class="glyphicon glyphicon-trash" ng-click="deleteFromList($index)"></button></td>
                  </tr>            
                </table>       
              </div>                
              <div class="playListTable">
                <table class="table table-striped table-bordered">
                  <tr>
                    <td class="text-center">                    
                      <form ng-submit="createPlayList()">
                        <select ng-model="songSelected" ng-options="song.name for song in songs">
                          <option value="">Select a Song</option>
                        </select>
                        <button class="glyphicon glyphicon-plus btn-primary btn btn-info btn-lg buttom" type="submit">Add  Song</button>
                    
                      </form>
                      <button class="btn btn-info btn-lg buttom" ng-click="savePlayList()">Save Playlist</button>
                    </td>                                      
                  </tr>
                </table>
              </div>
            </div>
              <div class="box">
              <button type="button" class="btn btn-info btn-lg buttom" data-toggle="modal" data-target="#myModal">Playlists</button>
                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Playlists</h4>
                   </div>

                    <div class="modal-body">
                    
                    <div>

                    <select ng-model="listSelected" ng-options="list.name for list in lists">
                    <option value="">Select a Playlist</option>
                    </select>
                    
                    <div class="Info">
                    <strong>Name:</strong>
                     <input type="text" ng-model="playListSelected.name">
                    </div>

                    <div class="Info">
                    <strong>Category:</strong>
                     <input type="text" ng-model="playListSelected.category">
                    </div>

                    </div>

                    <div class="playListTable">
                       <div class="Info">
                       <strong>Songs:</strong>

                       </div>
                      <table class="table table-striped table-bordered">
                        <tr>
                          <th>Name</th>
                          <th>Artist</th>
                          <th>Genre</th>
                          <th>Delete</th>
                        </tr>
                        <tr ng-repeat="song in playListSelected.songs">
                         <td>{{song.name}}</td>
                         <td>{{song.artist}}</td>
                         <td>{{song.genre}}</td>
                         <td><button class="glyphicon glyphicon-trash" ng-click="deleteSongFromList($index)"></button></td>
                        </tr>        
                    </table>
                        <div>
                        <select ng-model="songSelected" ng-options="song.name for song in songs">
                        <option value="">Select a Song</option>
                        </select>
                        <br/>
                        <button class="btn btn-info btn-lg buttom" ng-click="pushNewSong()" size="10">New Song</button>
                        </div>       
                  </div>              

                    </div>
                    <div class="modal-footer">
                    <button class="btn btn-info btn-lg buttom" ng-click="getPlayListSelected()" size="15">find PlayList</button>
                    <button class="btn btn-info btn-lg buttom" ng-click="saveChanges()" size="15">Save Changes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                  </div>
                </div>
              </div>
            </div>
          <div class="col-sm-6">
            <div class="box">
              <table class="table table-striped table-bordered">
                <tr>
                  <th>Song</th>
                  <th>Artist</th>
                  <th>Genre</th>
                  <th>Delete</th>
                </tr>
                <tr ng-repeat='s in songs'>
                  <td>{{s.name}}</td>
                  <td>{{s.artist}}</td>
                  <td>{{s.genre}}</td>
                  <td><button class="glyphicon glyphicon-trash" ng-click="deleteSong($index)"></button></td>
                </tr>
                <table class="table table-striped table-bordered">
                  <tr>
                    <td class="text-center">
                        <span>Song Info: </span>
                        <input class="text-center" type="text" ng-model="songName"  size="10" placeholder="Name">
                        <input class="text-center" type="text" ng-model="songArtist"  size="10" placeholder="Artist">
                        <input class="text-center" type="text" ng-model="songGenre"  size="10" placeholder="Genre">
                        <br/>
                        <button class="btn btn-info btn-lg buttom" ng-click="createSong()">Save Song</button>
                    </td>
                  </tr>                  
                </table>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap/js/affix.js"></script>
    <script src="/bower_components/bootstrap/js/alert.js"></script>
    <script src="/bower_components/bootstrap/js/dropdown.js"></script>
    <script src="/bower_components/bootstrap/js/tooltip.js"></script>
    <script src="/bower_components/bootstrap/js/modal.js"></script>
    <script src="/bower_components/bootstrap/js/transition.js"></script>
    <script src="/bower_components/bootstrap/js/button.js"></script>
    <script src="/bower_components/bootstrap/js/popover.js"></script>
    <script src="/bower_components/bootstrap/js/carousel.js"></script>
    <script src="/bower_components/bootstrap/js/scrollspy.js"></script>
    <script src="/bower_components/bootstrap/js/collapse.js"></script>
    <script src="/bower_components/bootstrap/js/tab.js"></script>
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html